body{
	overflow-x:hidden;
}
div .span5{
	margin-left:20em;
}
section{
	margin-top:3em;
	
}
h3{
	text-align:center;
}
section p {
	text-align:justify;
	margin-left:15em;
}
section ul{
	margin-left:15em;
}
